button.clipboard_button.hover path {
	fill: white;
}

.casenine_button {
	padding: 2px;
}

section.model_details .story .persistence.has_flash .close {
	width: 92px!important;
}

section.model_details .persistence {
	clear: both;
	position: absolute;
	right: 0;
}